  table(style="padding:0 5px; font-size:16px" )
    tbody
    tr(style="font-weight:bold;")
      td
      td(v-for="episode in seriesMapEpis" 
        style="text-align:center;"
        key="episode") {{episode}}
    tr(v-for="season in seriesMapSeasons" key="season"
              style="outline:thin solid;")
      td(style="font-weight:bold; width:10px; text-align:center;")
        | {{season}}

      td(v-for="episode in seriesMapEpis" key="series+'.'+episode" 
          @click="episodeClick($event, mapShow, season, episode)"
          :style=`{cursor:'default',
                  padding:'0 4px',
                  textAlign:'center', border:'1px solid #ccc',
                  backgroundColor:  
                    (seriesMap[season]?.[episode]?.error) 
                        ? 'yellow': 
                    (seriesMap[season]?.[episode]?.noFile) 
                        ? '#faa' : 'white'}`)
        span(v-if="seriesMap?.[season]?.[episode]?.played")  w
        span(v-if="seriesMap?.[season]?.[episode]?.avail")   +
        span(v-if="seriesMap?.[season]?.[episode]?.noFile")  -
        span(v-if="seriesMap?.[season]?.[episode]?.unaired") u
        span(v-if="seriesMap?.[season]?.[episode]?.deleted") d
